<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>QUẢN LÝ NHÂN VIÊN</h2>
    <a href="/list">Danh sách nhân viên</a><br><br>
    <a href="/create">Thêm nhân viên mới</a> <br><br>
    <a href="/infor">Thông tin nhân viên</a><br><br>
    <a href="/update">Cập nhật nhân viên</a><br><br>
    <a href="/remove">Xóa nhân viên</a><br><br>
</body>
</html>