<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>CẬP NHẬT NHÂN VIÊN</h3>
    <table border="1">
        <thead>
            <td>ID</td>
            <td>Tên nhân viên</td>
            <td>CCCD</td>
            <td>Email</td>
            <td>SĐT</td>
        </thead>
        {% for row in rows %}
        <tr>
            <td>{{row['idNhanVien']}}</td>
            <td>{{row['tenNhanVien']}}</td>
            <td>{{row['cccd']}}</td>
            <td>{{row['email']}}</td>
            <td>{{row['phone']}}</td><br>
        </tr>

        {% endfor %}
    </table> <br>

    <form action="{{url_for('updateemploy')}}", method="POST">
        <h3>Cập nhật nhân viên</h3>
        Chọn ID muốn cập nhật <br>
        <input type="text" name="id"/><br><br>
        Tên mới <br>
        <input type="text" name="name"/><br><br>
        CCCD mới <br>
        <input type="text" name="cccd"/><br><br>
        Số điện thoại mới <br>
        <input type="text" name="sdt"/><br><br>
        Email mới <br>
        <input type="text" name="email"/><br><br>

        <input type="submit" , value="Cập nhật"> <br>
    </form><br>
    <a href="/">Trở lại</a>
</body>
</html>