<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>THÔNG TIN NHÂN VIÊN</h3>
    <form action="{{url_for('inforemploy')}}", method="POST">
        Chọn ID muốn xem <br>
        <input type="text" name="id"/><br><br>

        <input type="submit" , value="Xem"> <br>
    </form><br>

    <table border="1">
        <thead>
            <td>ID</td>
            <td>Tên nhân viên</td>
            <td>CCCD</td>
            <td>Email</td>
            <td>SĐT</td>
        </thead>
        {% for row in rows %}
        <tr>
            <td>{{row['idNhanVien']}}</td>
            <td>{{row['tenNhanVien']}}</td>
            <td>{{row['cccd']}}</td>
            <td>{{row['email']}}</td>
            <td>{{row['phone']}}</td><br>
        </tr>

        {% endfor %}
    </table> <br>
    <a href="/">Trở lại</a>
</body>
</html>